<%- include ('../partials/header') %>

    <div class="container">
        <header class="jumbotron mt-1">
            <div class="container">
                <h1 class="font-weight-bold">Welcome To YelpCamp!!

                </h1>
                <p>View Our Handpicked Campgrounds</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campgrounds Here!!</a>
                </p>
            </div>
        </header>

        <div class="row " style="display:flex; flex-wrap:wrap;">
            <% campgrounds.forEach(e => { %>
                <div class="col-md-3 col-sm-6 mt-1">
                    <div class=" img-thumbnail text-center">
                        <img src="<%= e.image %> " alt="" class="img-fluid img-thumbnail">
                        <div class="card-body" style="padding: 10px;">
                            <h4 style="font-size: 1.5em;">
                                <%= e.name %>
                            </h4>
                        </div>
                        <p id="desc_para">
                            <a class="btn btn-info" href="/campgrounds/<%= e._id %> ">More Info</a>
                        </p>
                    </div>
                </div>
                <% });  %>
        </div>

    </div>

    <%- include ('../partials/footer') %>